<ion-header>
  <ion-toolbar color="primary">
  <ion-title>Login</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content padding='true'>
  <img src="" class="smallLogo"/>
  <h2>Iniciar Sesion</h2>
  <form (submit)="signIn()">
  <ion-list>
  <ion-item>
  <ion-label position="stacked">Email</ion-label>
  <ion-input autocomplete="off" [(ngModel)]="user.usuario" name="usuario" type="text"></ion-input>
  </ion-item>
  
  <ion-item>
  <ion-label position="stacked">Password</ion-label>
  <ion-input autocomplete="off" [(ngModel)]="user.pass" name="pass" type="password"></ion-input>
  </ion-item>
  
  </ion-list>
  <ion-button expand="block" type="submit" share="round" color="success">Login</ion-button>
  </form>
  </ion-content>
