
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Desarrollada</ion-card-subtitle>
      <ion-card-title>Samuel Serpas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list-header>Requerimientos Funcionales</ion-list-header>
      <ion-item>
        <ion-label>Autenticacion(Guardar Token)</ion-label>
        <ion-checkbox color="primary" disabled checked slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Sincronizar desde API REST</ion-label>
        <ion-checkbox color="primary" disabled checked slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Guardar Registros LocalStorage</ion-label>
        <ion-checkbox color="primary" disabled checked slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Listar Registros</ion-label>
        <ion-checkbox color="primary" disabled checked slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Listar Detalle de cuentas</ion-label>
        <ion-checkbox color="primary" disabled checked slot="start"></ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
